.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.logo span {
  color: black;
}

h2 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

label {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

button {
  padding: 12px;
  background-color: #666;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.forgot-password {
  text-align: right;
  font-size: 12px;
  color: gray;
  text-decoration: none;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-top: 10px;
}

.link {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
