.profile-icon {
    cursor: pointer;
    color: #4B5563;
    transition: color 0.2s ease-in-out;
    padding: 8px;
    border-radius: 50%;
  }

.profile-icon:hover {
    color: #1F2937;
    background-color: rgba(0, 0, 0, 0.05);
}
